[package]
name = "jolt"
version = "0.1.0"
authors = [
    # author of original Spartan paper and code base 
    "Srinath Setty <srinath@microsoft.com>",
    # authors who contributed to the Arkworks Spartan fork
    "Zhenfei Zhang <zhenfei.zhang@hotmail.com>",
    # authors who contributed to Lasso/Jolt
    "Michael Zhu <mzhu@a16z.com>",
    "Sam Ragsdale <sragsdale@a16z.com>",
    "Noah Citron <ncitron@a16z.com>",
    "Arasu Arun <arasu.arun5@gmail.com>",
]
edition = "2021"
description = "The lookup singularity. Based on Spartan; built on Arkworks."
documentation = "https://github.com/a16z/lasso/README.md"
repository = "https://github.com/a16z/lasso"
license-file = "LICENSE"
keywords = ["SNARK", "cryptography", "proofs"]

[workspace]
members = [
    "jolt-core",
    "tracer",
    "common",
    "jolt-sdk",
    "jolt-sdk/macros",
    "examples/fibonacci",
    "examples/fibonacci/guest",
    "examples/sha2-ex",
    "examples/sha2-ex/guest",
    "examples/sha3-ex",
    "examples/sha3-ex/guest",
]

[profile.test]
opt-level = 3
lto = "off"

[profile.release]
debug = 1
codegen-units = 1
lto = "fat"

[profile.build-fast]
inherits = "release"
incremental = true
lto = "off"

[profile.guest]
inherits = "release"
debug = false

[patch.crates-io]
ark-ff = { git = "https://github.com/a16z/arkworks-algebra", branch = "optimize/field-from-u64" }
ark-ec = { git = "https://github.com/a16z/arkworks-algebra", branch = "optimize/field-from-u64" }
ark-serialize = { git = "https://github.com/a16z/arkworks-algebra", branch = "optimize/field-from-u64" }
