[package]
name = "jolt-sdk"
version = "0.1.0"
authors = [
    "Michael Zhu <mzhu@a16z.com>",
    "Sam Ragsdale <sragsdale@a16z.com>",
    "Noah Citron <ncitron@a16z.com>",
]
description = "SDK for Jolt"
license = "MIT"
homepage = "https://github.com/a16z/jolt/README.md"
repository = "https://github.com/a16z/jolt"
edition = "2021"

[features]
default = ["sha256", "keccak256"]
host = [
    "dep:tracer",
    "dep:common",
    "dep:jolt-core",
    "dep:ark-ec",
    "dep:ark-bn254",
    "postcard/use-std",
    "dep:sha3",
]
guest-std = ["postcard/use-std", "jolt-sdk-macros/guest-std"]
icicle = ["host", "jolt-core?/icicle"]
sha256 = []
keccak256 = []

[dependencies]
postcard = { version = "1.0.8", default-features = false }
ark-ec = { version = "0.5.0", default-features = false, optional = true }
ark-bn254 = { version = "0.5.0", default-features = false, optional = true }
sha3 = { version = "0.10.8", optional = true }

jolt-sdk-macros = { path = "./macros" }

# Host-only dependencies
common = { path = "../common", optional = true }
jolt-core = { path = "../jolt-core", optional = true }
tracer = { path = "../tracer", optional = true }

[dev-dependencies]
hex-literal = "0.4.1"
