[package]
name = "jolt-sdk"
version = "0.1.0"
authors = [
    "Michael Zhu <mzhu@a16z.com>",
    "Sam Ragsdale <sragsdale@a16z.com>",
    "Noah Citron <ncitron@a16z.com>",
]
description = "SDK for Jolt"
license = "MIT"
homepage = "https://github.com/a16z/jolt/README.md"
repository = "https://github.com/a16z/jolt"
edition = "2021"

[features]
host = [
    "dep:tracer",
    "dep:common",
    "dep:jolt-core",
    "dep:ark-ec",
    "dep:ark-bn254",
    "postcard/use-std",
    "dep:getrandom",
    "dep:rand",
]
guest-std = [
    "postcard/use-std",
    "jolt-sdk-macros/guest-std",
    "dep:getrandom",
    "dep:rand",
]

[dependencies]
postcard = { version = "1.0.8", default-features = false }
ark-ec = { version = "0.5.0", default-features = false, optional = true }
ark-bn254 = { version = "0.5.0", default-features = false, optional = true }

jolt-sdk-macros = { path = "./macros" }

# Host-only dependencies
common = { path = "../common", optional = true }
jolt-core = { path = "../jolt-core", optional = true }
tracer = { path = "../tracer", optional = true }
getrandom = { version = "0.2.16", features = ["custom"], optional = true }
rand = { version = "0.8.5", optional = true }

[dev-dependencies]
hex-literal = "0.4.1"
