[package]
name = "jolt-sdk"
version = "0.1.0"
authors = [
    "Michael Zhu <mzhu@a16z.com>",
    "Sam Ragsdale <sragsdale@a16z.com>",
    "Noah Citron <ncitron@a16z.com>",
]
description = "SDK for Jolt"
license = "MIT"
homepage = "https://github.com/a16z/jolt/README.md"
repository = "https://github.com/a16z/jolt"
edition = "2021"

[features]
default = [
    "jolt-platform/random"
]
host = [
    "jolt-core/default",
    "jolt-platform/std",
    "dep:tracer",
    "dep:common",
    "dep:ark-ec",
    "dep:ark-bn254",
    "postcard/use-std",
]
guest-std = [
    "postcard/use-std",
    "jolt-platform/std",
    "jolt-sdk-macros/guest-std",
]
guest-verifier = [
    "guest-std",
    "dep:tracer",
    "dep:common",
    "dep:ark-bn254",
    "jolt-core/minimal",
]

[dependencies]
jolt-platform = { path = "../jolt-platform" }
postcard = { version = "1.0.8", default-features = false }
ark-ec = { version = "0.5.0", default-features = false, optional = true }
ark-bn254 = { version = "0.5.0", default-features = false, optional = true }

jolt-sdk-macros = { path = "./macros" }
# Host-only dependencies
common = { path = "../common", optional = true }
jolt-core = { path = "../jolt-core", default-features = false, optional = true }
tracer = { path = "../tracer", optional = true }
rand = { version = "0.8.5", optional = true }

[dev-dependencies]
hex-literal = "0.4.1"
