[package]
name = "common"
version = "0.2.0"
edition = "2021"

[dependencies]
ark-serialize = { version = "0.4.2", features = ["derive"] }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
strum_macros = "0.26.4"
strum = "0.26.3"
syn = { version = "1.0", features = ["full"] }
